<nz-layout class="layout" style="background-color: white;">
  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title'>About</div>
  </div>
  <div nz-row nzJustify="center" nzType="flex" style="padding-top: 100px; padding-bottom: 100px;">
    <p nz-paragraph style="text-align: center; font-size: 20px; padding-left: 5px; padding-right: 5px;">Ready to challenge our daliy lives with technology.</p>
  </div>
  <div nz-row nzJustify="center" nzType="flex">
    <div nz-col nzXs="24" nzSm="12" style="padding-top: 50px; padding-bottom: 50px;" lazy-load-images>
      <div nz-row nzJustify="center" nzType="flex">
        <img data-src="assets/sarah.jpg" alt="Sarah" style="border-radius: 50%" width="300px;">
      </div>
      <div nz-row nzJustify="center" nzType="flex" style="padding-top: 10px;">
        <h2 nz-title style="text-align: center;">Sarah Chan Hsin Mei</h2>
      </div>
      <div nz-row nzJustify="center" nzType="flex">
        <p nz-paragraph style="text-align: center; font-size: 20px; padding-left: 5px; padding-right: 5px;">UX Designer/Marketer</p>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" style="padding-top: 50px; padding-bottom: 50px;" lazy-load-images>
      <div nz-row nzJustify="center" nzType="flex">
        <img data-src="assets/sujay.jpg" alt="Sujay" style="border-radius: 50%" width="300px;">
      </div>
      <div nz-row nzJustify="center" nzType="flex" style="padding-top: 10px;">
        <h2 nz-title style="text-align: center;">Sujay R Subramanian</h2>
      </div>
      <div nz-row nzJustify="center" nzType="flex">
        <p nz-paragraph style="text-align: center; font-size: 20px; padding-left: 5px; padding-right: 5px;">Software Engineer/Full-Stack Developer</p>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" style="padding-top: 50px; padding-bottom: 50px;" lazy-load-images>
      <div nz-row nzJustify="center" nzType="flex">
        <img data-src="assets/branson.jpg" alt="Branson" style="border-radius: 50%" width="300px;">
      </div>
      <div nz-row nzJustify="center" nzType="flex" style="padding-top: 10px;">
        <h2 nz-title style="text-align: center;">Branson Ng</h2>
      </div>
      <div nz-row nzJustify="center" nzType="flex">
        <p nz-paragraph style="text-align: center; font-size: 20px; padding-left: 5px; padding-right: 5px;">Software Engineer/Full-Stack Developer</p>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" style="padding-top: 50px; padding-bottom: 50px;" lazy-load-images>
      <div nz-row nzJustify="center" nzType="flex">
        <img data-src="assets/brandon.png" alt="Brandon" style="border-radius: 50%" width="300px;">
      </div>
      <div nz-row nzJustify="center" nzType="flex" style="padding-top: 10px;">
        <h2 nz-title style="text-align: center;">Ng Wei Jie, Brandon</h2>
      </div>
      <div nz-row nzJustify="center" nzType="flex">
        <p nz-paragraph style="text-align: center; font-size: 20px; padding-left: 5px; padding-right: 5px;">Software Engineer/Marketer</p>
      </div>
    </div>
  </div>
</nz-layout>
