<nz-layout class="layout" style="background-color: white;">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/']">Home</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'features']">Features</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'about']">About</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'contact']">Contact</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'faq']">FAQ</a>
    </li>
    <span></span>
    <button nz-button [nzSize]="large" nzType="default">Register Now!</button>
  </ul>
  <router-outlet></router-outlet>
<nz-layout>

