<nz-layout class="layout" style="background-color: white;">
  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title'>
      Ideas that matter
    </div>
    <div class="cover-img">
      <div style="padding-top: 500px;">
        <div nz-col nzXs="24" style="padding-top: 50px; padding-bottom: 50px;">
          <div nz-row nzJustify="center" nzType="flex" style="padding: 5px;">
            <input nz-input placeholder="large size" nzSize="large" style="width: 300px" />
          </div>
          <div nz-row nzJustify="center" nzType="flex" style="padding: 5px;">
            <button nz-button [nzSize]="large" nzType="primary" nzGhost="true" nzType="default">Try Now!</button>
          </div>
        </div>
      </div>
    </div>
    <!--<img alt="example" src="assets/pm.png" width="100%"/>-->
  </div>
  <div nz-row nzType="flex" nzJustify="center" class="white-color">
    <div nz-col nzXs="24" nzMd="16" style="padding-top: 50px; padding-bottom: 50px;">
      <div nz-row nzJustify="center" nzType="flex">
        <img alt="example" src="assets/pm.png" width="200px"/>
      </div>
    </div>
  </div>
  <!--register layout-->
  <div nz-row nzType="flex" class="blue-color">
    <div nz-col nzXs="24" nzMd="12" style="padding-top: 50px; padding-bottom: 50px;">
      <div nz-row nzJustify="end" nzType="flex" style="padding: 5px;">
        <img alt="example" src="assets/pm.png" width="200px"/>
      </div>
    </div>
    <div nz-col nzXs="24" nzMd="12" style="padding-top: 50px; padding-bottom: 50px;">
      <div nz-row nzJustify="start" nzType="flex" style="padding: 5px;">
        <input nz-input placeholder="large size" nzSize="large" style="width: 300px" />
      </div>
      <div nz-row nzJustify="start" nzType="flex" style="padding: 5px;">
        <button nz-button [nzSize]="large" nzType="default">Register Now!</button>
      </div>
    </div>
  </div>
  <div class="white-color">hi</div>
  <div class="white-color">hi</div>
  <div class="dark-color">hi</div>
</nz-layout>
