<nz-layout class="layout" style="background-color: white;">
  <img alt="example" src="assets/pm.png" width="100%"/>
  <div nz-row nzType="flex" nzJustify="center" class="white-color">
    <div nz-col nzXs="24" nzMd="16" style="padding-top: 50px; padding-bottom: 50px;">
      <div nz-row nzJustify="center" nzType="flex">
        <img alt="example" src="assets/pm.png" width="200px"/>
      </div>
    </div>
  </div>
  <!--register layout-->
  <div nz-row nzType="flex" class="dark-color">
    <div nz-col nzXs="24" nzMd="12" style="padding-top: 50px; padding-bottom: 50px;">
      <div nz-row nzJustify="end" nzType="flex" style="padding: 5px;">
        <img alt="example" src="assets/pm.png" width="200px"/>
      </div>
    </div>
    <div nz-col nzXs="24" nzMd="12" style="padding-top: 50px; padding-bottom: 50px;">
      <div nz-row nzJustify="start" nzType="flex" style="padding: 5px;">
        <input nz-input placeholder="large size" nzSize="large" style="width: 300px" />
      </div>
      <div nz-row nzJustify="start" nzType="flex" style="padding: 5px;">
        <button nz-button [nzSize]="large" nzType="default">Register Now!</button>
      </div>
    </div>
  </div>
  <div class="blue-color">hi</div>
  <div class="dark-color">hi</div>
  <div class="blue-color">hi</div>
  <div class="dark-color">hi</div>
</nz-layout>
