.cover-img {
  background-image: url("../../assets/pm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 1000px;
}

.blue-color {
  background-color: blue;
  min-height: 200px;
}

.dark-color {
  background-color: black;
  min-height: 200px;
  border-top-left-radius: 250% 160px;
  border-top-right-radius: 250% 160px;
}
.white-color {
  background-color: white;
  min-height: 200px;
}
.box {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  padding-top: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 100px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.white-wave {
  min-height: 350px;
  background: #000 url("../../assets/white-wave.png") center;
}

.black-wave {
  width: 100%;
  border-top-left-radius: 250% 160px;
  border-top-right-radius: 250% 160px;
  border-bottom-left-radius: 250% 160px;
  border-bottom-right-radius: 250% 160px;
  margin-top: -4em;
  position: relative;
  background: #3BB9FF url("../../assets/black-wave.svg") center bottom no-repeat;
  min-height: 350px;
  padding-top: 4em;
}

.svg-animation:hover, .svg-animation:focus {
  filter: sepia(1) saturate(10000%) hue-rotate(120deg);
}
